USE [master]
GO
/****** Object:  Database [School]    Script Date: 7/1/2020 7:58:59 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Users\gopi\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Users\gopi\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\School.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
USE [School]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/1/2020 7:58:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Skills] [varchar](250) NOT NULL,
	[TotalStudents] [int] NOT NULL,
	[Salary] [money] NOT NULL,
	[AddedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([Id], [Name], [Skills], [TotalStudents], [Salary], [AddedOn]) VALUES (1, N'gopi', N'asp.net core', 6, 2000.0000, CAST(N'2020-06-08' AS Date))
INSERT [dbo].[Teacher] ([Id], [Name], [Skills], [TotalStudents], [Salary], [AddedOn]) VALUES (1002, N'Raj ', N'ASP.NET mvc', 8, 5000.0000, CAST(N'2020-06-09' AS Date))
INSERT [dbo].[Teacher] ([Id], [Name], [Skills], [TotalStudents], [Salary], [AddedOn]) VALUES (6002, N'viky', N'ASP.NET CORE', 6, 60000.0000, CAST(N'2020-06-17' AS Date))
SET IDENTITY_INSERT [dbo].[Teacher] OFF
ALTER TABLE [dbo].[Teacher] ADD  DEFAULT (getdate()) FOR [AddedOn]
GO
USE [master]
GO
